<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/article/all">Articles</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown pull-right" *ngIf="!authService.isUserLogged()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Guest
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/login">Login</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/register">Register</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isUserLogged()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{authService.currentUser.username | uppercase}}`s menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/article/new">New Article</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/user/edit">Manage Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/logout">Logout</a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isUserAdmin()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Admin menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/admin/user/edit">Edit user</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/admin/user/delete">Delete user</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br />