<br />
<div class="card" style="padding: 25px;">
    <form (ngSubmit)="handleSubmitChanges(article)">
        <div class="form-group">
            <label for="category">New category</label>
            <input [(ngModel)]="article.category" type="text" class="form-control" name="category" id="category">
        </div>
        <div class="form-group">
            <label for="title">New title</label>
            <input [(ngModel)]="article.title" type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="content">New content</label>
            <textarea [(ngModel)]="article.content" class="form-control" rows="5" id="content" name="content"></textarea>
        </div>
        <div class="form-group">
            <label for="image">New image</label>
            <input [(ngModel)]="article.image" type="text" class="form-control" name="image" id="image">
        </div>
        <div class="form-group">
            <label for="status">New status</label>
            <select [(ngModel)]="article.status" name="status" id="status" class="form-control">
                <option value="0">Public</option>
                <option value="1">Private</option>
            </select>
        </div>
        <input type="submit" value="Update article" class="btn btn-success">
    </form>
</div>